<div class="displayCadastro">
    <h3 class="fontStyle">Gerenciamento de entrada e saída de mercadoria</h3>
</div>
<div class="gerenciamentoAjustes">
    <div class="logoEntradaAjustes">
        <display-4 class="fontStyle" >Entrada de Mercadoria</display-4>
        <a asp-area="" asp-controller="Gerenciamento" asp-action="RegistrarEntrada">
            <img src="/images/EntradaLogo.png" alt="Logo Entrada">
        </a>
    </div>
    <div class="logoEntradaAjustes">
        <display-4 class="fontStyle" style="text-decoration:none">Saída de Mercadoria</display-4>
        <a asp-area="" asp-controller="Gerenciamento" asp-action="RegistrarSaida">
            <img src="/images/SaidaLogo.png" alt="Logo Saída">
        </a>
    </div>
    <div class="logoEntradaAjustes">
        <display-4 class="fontStyle" style="text-decoration:none">Relatório Grafico</display-4>
        <a asp-area="" asp-controller="Relatorio" asp-action="GraficoEntradaESaidaMensal">
            <img src="/images/GraficoLogo.png" alt="Logo Grafico">
        </a>
    </div>
    <div class="logoEntradaAjustes">
        <display-4 class="fontStyle" style="text-decoration:none">Relatório de entrada e saída de mercadorias</display-4>
        <a asp-area="" asp-controller="Relatorio" asp-action="GerarRelatorioMensalPdf">
            <img src="/images/LogoPdf.png" alt="Logo PDF">
        </a>
    </div>
</div>
