@{
    ViewData["Title"] = "Página Inicial";
}
<div class="homeAjustes">
    <div class="text-center">
        <display-5 class="fontStyleHome">Bem-vindo ao sistema de gerenciamento de mercadorias da MStarApply.</display-5>
        <section class="sectionLogo">
            <img src="/images/LogoMStarApply.png" alt="Logo Saída">
        </section>
    </div>
</div>