@model MStarSupplyControl.IoC.DTOs.UsuarioDTO
@{
    Layout = "_LayoutDeslogado";
}
@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["Erro"]
    </div>
}
<div class="wrapper inputStyle">
    <div class="logo">
        <img src="~/Images/LogoLogin.png" alt="logo Login">
    </div>
    <div class="text-center mt-4 fontStyle" style="color:#8DC5FE">
        MStarApplyControl
    </div>
    <form class="p-3 mt-3" asp-controller="Login" asp-action="Entrar" method="post">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" asp-for="Usuario" name="Usuario" id="usuario" placeholder="Usuário">
            @Html.ValidationMessageFor(x => x.Usuario)
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="senha" id="senha" asp-for="Senha" placeholder="Senha">
            @Html.ValidationMessageFor(x => x.Senha)
        </div>
        <button class="btn mt-3">Login</button>
    </form>
</div>

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />